*{
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background-color:antiquewhite
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
}

ol li, ul li{
    margin-bottom: 10px;
    text-align: left;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.space{
    margin-bottom: 20px;
}